.heroSection {
    width: 100%;
    height: 50vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #e39ffe, #80d1ff, #d97cfe, #90f5e4);
    background-size: 400% 400%;
    animation: gradientMove 15s ease-in-out infinite;
    flex-direction: column;
    border-radius: 50% 0% 50% 50% / 0% 10% 52% 53%;
    will-change: background-position;

    position: relative;
    overflow: hidden;
}

.heroSection h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.heroSection p {
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
}