.cardsSection{
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 300px;
    height: auto;
    background-color: #dfd7fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    padding: 20px;
    gap: 10px;
}




.card h2 {
    margin-bottom: 10px;
    color: #7e00b0;
}

.card p {
    color: #666;
    text-align: center;
}

.cardAuthor {
    color: #00bbae;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

