@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nata Sans', sans-serif;
}

:root {
  --c-surface:#ffffff;
  --c-border:#e2e6ef;
  --c-accent:#d97cfe;
  --c-accent2:#80d1ff;
  --c-accent3:#90f5e4;
  --c-text:#2f3440;
  --c-soft:#5a6474;
}

code {
  color:#faf2ff;
  padding:.15rem .35rem .2rem;
  border-radius:5px;
  font-size:.63rem;
}