@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nata Sans', sans-serif;
}

code {
  background:#f4ebff;
  color:#5a2877;
  padding:.15rem .35rem .2rem;
  border-radius:5px;
  font-size:.63rem;
}